@{
    ViewData["Title"] = "About";
}

<div class="container container-content">
    <div class="row">
        <div class="col-md-12">
            <h2>About</h2>

            Some content here...
        </div>
    </div>
</div>